# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.exe

# OS or Editor folders
.DS_Store
.cache
.project
.settings
nbproject
thumbs.db

# Logs
.log
.pid
.sock
.monitor

# Folders to ignore

# Archives (import-export)
*.zip

# Jasper compilled reports
*.jasper